<div class="container individual text-center" *ngIf="character">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <img [src]="character.image" alt="{{character.name}}" id="character-portrait" class="card-img-top" />
                <div class="card-body">
                    <div class="card-title">{{character.name}}</div>
                    <div class="card-subtitle">{{character.gender}} {{character.species}}</div>
                </div>
            </div>
        </div>
    </div>
</div>