<input name="name-search" placeholder="Search By Name" type="text" autocomplete="off" [(ngModel)]="searchTerm" />

<span (click)="getCharacters(1)">Search</span>

<table *ngIf="characterCall">
    <tbody *ngIf="characterCall.results">
        <tr *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }">
            <td>{{c.name}}</td>
            <td>{{c.species}}</td>
            <td>{{c.status}}</td>
            <td>{{c.gender}}</td>
        </tr>
    </tbody>
</table>


<ng-container *ngIf="pages">
    <span *ngFor="let p of pages" [ngClass]="{'active': (p === currentPage)}" (click)="getCharacters(p)">{{p}}</span>
</ng-container>
